<section class="slider">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="video-container">
            <video muted playsinline>
            <source src="/videos/miVideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
   
    </div>
          <div class="swiper-slide"><img src="/img/microfonos.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/sillas.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/escritorio.jpg" alt=""></div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

      </div>
</section>