/* resetPasswordConfirmation.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.resetPasswordConfirm {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;

}

.resetPasswordConfirm h2 {
    color: rgb(40, 40, 40);
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 24px;
}

.resetPasswordConfirm p {
    color: rgb(60, 60, 60);
    margin-bottom: 20px;
    font-size: 18px;
}

.resetPasswordConfirm a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    background-color: rgb(40, 40, 40);
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.resetPasswordConfirm a:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(18, 18, 18);
}

footer{
    margin-top: 0;
}

@media (max-width: 768px) {
    .resetPasswordConfirm h2 {
        font-size: 20px;
        margin-top: 70px;
    }

    .resetPasswordConfirm p {
        font-size: 16px;
    }

    .resetPasswordConfirm a {
        font-size: 14px;
    }
}

@media (max-width: 468px) {
    .resetPasswordConfirm h2 {
        font-size: 18px;
        margin-top: 50px;
    }

    .resetPasswordConfirm p {
        font-size: 14px;
    }

    .resetPasswordConfirm a {
        font-size: 12px;
        padding: 8px 16px;
    }
}
