<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/users/requestResetPassword.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
  <title>Request Password Reset</title>
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <form action="/users/resetPasswordRequest" method="post">
    <div>
      <h2>Reset your password</h2>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email">
      <% if (locals.errors && locals.errors.email) { %> 
        <p class="error"><%= errors.email.msg %> <i class="fa-solid fa-circle-exclamation"></i></p>
      <% } %>
    </div>
    <button type="submit">Send Reset Link</button>
  </form>


  <%- include('../partials/footer.ejs') %>

</body>
</html>
