<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/users/resetPasswordSuccess.css">
  <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>

  <title>Password Reset Successful</title>
</head>
<%- include('../partials/header.ejs') %>

<body>

  <section class="resetPasswordSuccess">

  <h2>Password Reset Successful</h2>
  <p>Your password has been updated successfully. You can now <a href="/users/login">log in</a> with your new password.</p>

</section>
<%- include('../partials/footer.ejs') %>

</body>

</html>
